@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "ABeeZee", sans-serif;
}

.navbar {
    position: sticky;
    height: 60px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    width: 155px;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navitems {
    margin: 0 15px 0 0;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navitems li a {
    color: rgb(63, 255, 191);
    text-decoration: none;
    padding: 9px 16px;
    border-radius: 25px;

}

li {
    list-style: none;
    gap: 23px;
}

.navitems li a:hover {
    background-color: #F3F7EC;
}

#menu-btn {
    display: none;
}

.hide {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: auto;
    background-color: rgba(34, 34, 34, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(10%);
    /* border-radius: 25%; */
    box-shadow: -10px 0 10px rgba(23, 23, 23, 0.3);
    display: none;

}

.hide li {
    list-style: none;
    text-decoration: none;
    width: 100%;
}

.hide li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 15px;
    color: brown;
    text-decoration: none;
}

.hide li a:hover {
    background-color: #3aa18b;

}

.hero {
    height: 40vh;
    width: 100vw;
}

.bg {
    /* height: calc(40vh + 60px); */
    padding-top: 55px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
}

.hero-1 {
    margin-top: 60px;
    color: #fcffd0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: green; */
}

.first {
    font-size: 40px;
    font-weight: 900;
    /* padding: 23px; */
    font-family: "ABeeZee", sans-serif;

}

.second {
    font-size: 24px;
    padding: 20px 10%;
    /* width: 75%; */

}

form {
    /* display: flex; */
    margin: 35px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

input {
    background-color: rgba(241, 171, 139, 0.74);
    border: none;
    outline: none;
    border-radius: 7px;
    height: 20px;
    padding: 9px 25px;
    font-size: 20px;
    width: 25vw;
}

label {
    background-color: rgb(250, 115, 115);
    border-radius: 7px;
    height: 20px;
    padding: 9px 25px;
    font-size: 17px;
    width: 25vw;
    color: white;
}

label:hover {
    background-color: pink;
    color: black;
    cursor: pointer;
}


.sepration {
    border: 2px solid rgb(0, 0, 0);
}

.content {
    background-color: #DBB5B5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .left {
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .h1 {
    font-size: 40px;
    font-weight: 900;
    padding: 23px 30px;


}

.content .h2 {
    font-size: 25px;
    padding-left: 30px;
    margin-right: 30px;
}

.right img {
    margin-top: 40px;
    margin-right: 34px;
    width: 30vw;
    height: 30vh;
    border-radius: 4px;
}

.right-2 img {
    margin-top: 40px;
    margin-left: 34px;
    width: 30vw;
    height: 30vh;
    border-radius: 4px;
}

.content-2 {
    background-color: #A7E6FF;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: blueviolet;
    color: aliceblue;
    position: relative;
    width: 100%;
    bottom: 0;
}


















@media only screen and (max-width: 768px) {
    .navitems .items {
        display: none;
    }

    #menu-btn {
        display: block;
    }

    .first {
        font-size: 35px;


    }

    .second {
        padding: 10px;
        font-size: 19px;
    }

    form {
        width: 100%;
        /* gap: px; */
    }




    form input {
        font-size: 19px;
        width: 40%;

    }

    .hero {
        height: 25vh;
        width: 100vw;
    }

    .bg {
        height: 32vh;
    }

    .hero-1 {
        margin-top: 40pxpx;
    }

    .first {
        font-size: 40px;
    }

    .second {
        font-size: 24px;
        padding: 20px 10%;
        /* width: 75%; */

    }

    .content {
        background-color: #DBB5B5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content .left {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .content .h1 {
        font-size: 25px;
        font-weight: 900;
        padding: 13px 30px;
    }

    .content .h2 {
        font-size: 15px;
        padding-left: 30px;
        margin-right: 30px;
    }


    .right img {
        margin-top: 15px;
        margin-right: 30px;
        width: 22vw;
        height: 13vh;
        border-radius: 4px;
    }

    .right-2 img {
        margin-top: 15px;
        margin-right: 30px;
        width: 22vw;
        height: 13vh;
        border-radius: 4px;
    }

    .content-2 {
        background-color: #A7E6FF;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        background-color: blueviolet;
        color: aliceblue;
    }



}